header
  .jumbotron.hidden-xs
  // jumbotron
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')=title
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
              a(href='/events') Events
          li
            a.dropdown-toggle(href='/', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Organizers
              span.caret
                span
            ul.dropdown-menu
              li
                a(href='https://www.meetup.com/Pittsburgh-Node-js/members/258574922/') Jared Blumer
              li
                a(href='https://www.meetup.com/Pittsburgh-Node-js/members/92967432/') Giselle J
              li
                a(href='https://www.meetup.com/Pittsburgh-Node-js/members/109303002/') Allen Hart
          li
            a(href='/feedback') Feedback
        // nav
      // navbar-collapse
    // container
