extends layout/index
block content
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title What we're about
            p
              | Welcome to the Pittsburgh Node.js community Meetup!
            p
              | This is a meetup to discuss Node.js, popular npm modules, general web development and JavaScript running on the server. If you're interested in Node personally or professionally, we'd love to hear from you. Stop by to hear about something cool or, even better, stop by to tell others about something cool! This group is intended for beginners all the way up to veteran Node and JavaScript developers, but all are welcome to attend, regardless of programming language.
          // article
          article.article
            h1.article-title Lets Do it!
            p
              | If you want to keep up with what's going on with the group,
              a(href='http://www.meetup.com/Pittsburgh-Node-js')  join our meetup group.

      // primary
      include includes/sidebar

block organizerlist
  article.speakerslist.jumbotron.hidden-xs
    .container
      .row
        .col-sm-4.text-center
          h3.speakerslist-title Organizer
          h5.speakerslist-name
            |
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/258574922/')  Jared Blumer
          p.speakerslist-info
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/258574922/')
              img.speakerslist-img.img-circle(src='./images/organizers/Jared_Blumer.jpeg', alt='Photo of Jared Blumer')
        .col-sm-4.text-center
          h3.speakerslist-title Co-Organizer
          h5.speakerslist-name
            |
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/92967432/')  Giselle J
          p.speakerslist-info
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/92967432/')
              img.speakerslist-img.img-circle(src='./images/organizers/Giselle_J.jpeg', alt='Photo of Giselle_J')
        .col-sm-4.text-center
          h3.speakerslist-title Co-Organizer
          h5.speakerslist-name
            |
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/109303002/')  Allen Hart
          p.speakerslist-info
            a(href='https://www.meetup.com/Pittsburgh-Node-js/members/109303002/')
              img.speakerslist-img.img-circle(src='./images/organizers/Allen_Hart.jpeg', alt='Photo of Allen Hart')
      // row
    // container
