extends ../layout/index
block content
  .container
    .row
      .col-sm-8
        .maincontent
          h1.article-title Events
          blockquote.embedly-card
            h4
            center
              iframe(src='https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23E4C441&ctz=America%2FNew_York&src=cDZjYTJuNHFybWZjZHZvamV2dmNvaGJnMmVpdWJnYnVAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D50000&showTitle=0&showNav=1&showTz=1&showCalendars=0&showTabs=0&showPrint=0&showDate=1' style='border-width:0' width='900' height='600' frameborder='0' scrolling='no')
